.png{
    width: 100%;
}
.arrowPng{
  width: 70%;
}
.video{
  background-color: transparent;
  border: 0;
  cursor: pointer;
  padding: 0;
  width: 60%;
  align-content: center;
}

.git{
  position: absolute;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  padding: 0;
  width: 37%;
  align-content: center;
}
.arrow{
  background-color: transparent;
  padding: 0;
  border: 0;
  width: 80%
}
.gitdiv{
  position:absolute;
  top: 5vh;
  right: -2.5vw;
  width: 5.5vw;
}
.videodiv{
  position:absolute;
  left: 9vw;
  top: 5vh;
  width: 3.3vw
}
.iconsDiv{
position: absolute;  
display: flex; 
justify-content: center; 
width: 15vw;
height: 15vh;
right: 0px;
}

.arrowDiv{
  position: absolute;
  display: flex; 
  justify-content: center; 
  top: 50%;
  right: 0px;
  width: 9vw;
  height: 9vh; 
  transition: all 0.3s ease-in-out;
}

.arrowDiv:hover{
  opacity: 0.7;
  transform: scale(1.1); 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  
}

.hovered{
  opacity: 0.7;
  transform: scale(1.1); 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}