.sidebar {
  background-color: black;
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 90vh;
  justify-content: space-around;
}

.uppersidebar {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2vh;
}
.arraytext {
  color: white;
  position: relative;
  text-decoration: none;
  left: 5%;
}
.arrayinput {
  width: 90%;
  align-self: center;
  height: 25vh;
  border-radius: 2%;
  border-color: transparent;
}

.sidearrowbutton {
  border: 0;
  display: flex;
  background-color: transparent;
  position: relative;
  left: 85%;
  padding: 0;
}
.middlesidebar {
  height: 7%;
  align-content: center;
  position: relative;
}
.lowersidebar {
  height: auto;
  display: flex;
  flex-direction: column;
  
}
#sidearrow {
  height: 5vh;
  width: auto;
}

.duplicatetext {
  color: darkgray;
  text-decoration: none;
}

.duplicate {
  display: flex;
  flex-direction: row;
  width: 40%;
  justify-content: space-around;
}

#valuerange{
  position: relative;
  left: 5%;
  color: white;
}

.slider-container{
  background-color: white;
  width: 10vw;
  height: 1vh;
  position: relative;
  left: 10%;
}

.complexityfield{
  width: 90%;
  align-self: center;
  height:7vh;
  border-radius: 2%;
  border-color: transparent;
  background-color: white;
  position: relative;
  left: 4%;
}
.complexity-button {
  display: contents;
}
.back-button{
  display: contents;
}
.complexitypng{
  width: 20%;
  position: relative;
  left: 75%;
}
.backpng{
  width: 20%;
  position: relative;
  right: 15%;
}