
@lato {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
.textContainer {
    background-color: #000000;
    text-align: left;
    flex-direction: column; 
    justify-content: center;
    display: flex ;
    position: absolute;
    top: 55%;
    left: 70%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: 50%;
  }
  
  .text {
    font-size: 200%;
    font-family: "Lato", sans-serif;
    font-style: italic;
    text-decoration: none;
  }
  
  .lightColor {
    color: #F3F3F3; 
  }
  
  .darkColor {
    color: #848484; 
  }