@inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

@lato {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.topbar{
  display: flex;
  background-color: black;
  align-items: center;
  justify-content: space-around;
  max-height: 72.5px;
}
.sortings{
  align-content: center;
  display: flex;

}
.sorttext{
  color: white;
  text-decoration: none;
  font-size: 3.2vw;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-style: normal;
  
}
.pngdiv{
  display: flex;
   flex-direction: row;
  align-content: center;
  justify-content: center;
}
.sortpng{
  margin: auto;
  width: 50%;
  height: 60%;
}
.icons{
display: flex;
flex-direction: column;
}
.iconbutton{
  background-color: transparent;
  padding: 0;
  border: 0;
  display:contents;
  
}
.icontext{
  color: white;
  text-decoration: none;
  align-content: center;
  text-size-adjust:inherit;
  font-size: 1vw;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.png{
  width: 50%;
}
