.ComplexityScreenContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Allow content to grow beyond 100vh */
  width: 100vw;
  background: radial-gradient(circle, rgb(32, 31, 31), black);
  color: white;
  position: relative;
  overflow-y: auto; /* Enable vertical scroll only when needed */
}

.ComplexityScreenPlexusEffect {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 100vh;
  filter: brightness(60%);
}

.ComplexityScreenTextContainer {
  padding: 20px;
  max-width: 800px; /* Limit text width for better readability */
  min-height: 100vh;
  text-align: center; /* Center align the text */
  z-index: 1; /* Ensure text appears above the particle effect */
}

.ComplexityScreenTitle {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.ComplexityScreenMainBody {
  text-align: left;
  font-size: 1rem;
  line-height: 1.6;
}

@media (max-width: 768px) {
  .ComplexityScreenTitle {
    font-size: 2.5rem;
  }

  .ComplexityScreenMainBody {
    font-size: 1rem;
  }
}
