.sidebar {
  background-color: black;
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 90vh;
  justify-content: space-around;
  transition: width 0.3s ease;
}

.sidebar--collapsed {
  width: 5%;
}

/* Content Vanishing when Collapsed */
.sidebar--collapsed .sidebar__upper,
.sidebar--collapsed .sidebar__lower {
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.sidebar--collapsed .sidebar__middle {
  justify-content: center;
  align-items: center;
}

.sidebar__arrow {
  height: 5vh;
  width: auto;
  transition: transform 0.3s ease;
}

.sidebar__arrow--rotated {
  transform: rotate(180deg);
}

.sidebar__upper {
  display: flex;
  flex-direction: column;
  padding: 0;
  transition: opacity 0.3s ease;
  width: 90%;
  height: 40%;
  position: relative;
  left: 5%;
  top: 5%;
}

.sidebar__array-text {
  position: relative;
  bottom: 5%;
  color: white;
  text-decoration: none;
  font-size: 1.3em;
  margin: 0;
}

.sidebar__array-input {
  width: 100%;
  height: 25vh;
  border-radius: 0.1rem;
  border: none;
  padding: 0;
  font-size: 1em;
}

.sidebar__middle {
  display: flex;
  justify-content: flex-end;
  position: relative;
  right: 4%;
}

.sidebar__toggle-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0%;
}

/* Lower Sidebar Styles */
.sidebar__lower {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  transition: opacity 0.3s ease;
  height: 40%;
  width: 90%;
  position: relative;
  left: 5%;
}

.sidebar__array-size {
  display: flex;
  flex-direction: column;
}

.sidebar__array-size-text {
  position: relative;
  bottom: 10%;
  color: white;
  font-size: 1.3em;
  margin: 0;
}

.sidebar__array-size-input {
  width: 100%;
  height: 4vh;
  border-radius: 0.4rem;
  border: none;
  font-size: 1em;
}

.sidebar__duplicate {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 42%;
}

.sidebar__duplicate-text {
  color: darkgray;
  font-size: 1rem;
  text-decoration: none;
  margin-right: 0.5rem;
}

.sidebar__duplicate-checkbox {
  position: relative;
  top: 10%;
}


.sidebar__complexity-text {
  position: relative;
  bottom: 10%;
  color: white;
  font-size: 1.3rem;
  margin: 0;
}

.sidebar__complexity-field {
  width: 100%;
  height: 4.5vh;
  border-radius: 0.4rem;
  border: none;
  background-color: white;
  padding: 1vh;
  font-size: 1em;
  display: flex;
  align-items: center;
  text-align: left;
}

.sidebar__buttons {
  display: flex;
  justify-content: space-between;

}

.sidebar__complexity-button,
.sidebar__back-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0%;
}

.sidebar__back-button:hover {
  transform: scale(1.2);
}

.sidebar__complexity-button:hover {
  transform: scale(1.2);
}

.sidebar__complexity-icon,
.sidebar__back-icon {
  width: 5vh;
  height: 5vh;
}

/* Ensure Buttons Remain Visible When Collapsed */
.sidebar--collapsed .sidebar__complexity-button,
.sidebar--collapsed .sidebar__back-button {
  opacity: 0;
  pointer-events: none;
}

.sidebar__complexity-button {
  position: relative;
}

.sidebar__complexity-button:hover::after {
  content: "Bunny was HERE";
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: black;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  white-space: nowrap;
  z-index: 100;
  opacity: 1;
  transition: opacity 0.3s ease;
}