@font-face {
  font-family: Lato;
  src: url(/src/Assets/Fonts/Lato/Lato-Black.ttf);
}
@font-face {
  font-family: Inter;
  src: url(/src/Assets/Fonts/Inter/static/Inter_18pt-ExtraLight.ttf);
}
.WholePage {
  width: 100vw;
  height: 100vh;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 0px;
  padding: 0px;
  font-size: 50px;
  font-family: Lato;
}

.MiddleBar {
  position: absolute;
  width: 5px;
  height: 100vh;
  background-color: white;
  margin: 0px;
  padding: 0px;
}

.PlexusEffectSplitScreen {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: radial-gradient(rgb(32, 31, 31), black);
}
.SortingSlogan {
  font-family: Inter;
}

.GraphSlogan {
  font-family: Inter;
}
.SplitScreenBackButton {
  position: absolute;
  left: 0px;
  top: 50vh;
  font-family: Inter;
  font-size: 30px;
}
